.section {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  padding-bottom: clamp(48px, calc(80vw / 7.68), 120px);
  align-items: center;
  column-gap: 32px;

  @media (max-width: 960px) {
    grid-template-columns: 1fr;
  }

  img {
    width: clamp(280px, calc(480vw / 7.68), 480px);
    margin: 0 auto;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: start;

  h1 {
    margin-bottom: 18px;
  }

  p {
    margin-bottom: 24px;
  }
}
