// ------------- Custom Variables ------------------

:root {
  --primary-50: #f8fafc;
  --primary-100: #f1f5f9;
  --primary-200: #e2e8f0;
  --primary-300: #cbd5e1;
  --primary-400: #94a3b8;
  --primary-500: #64748b;
  --primary-600: #475569;
  --primary-700: #334155;
  --primary-800: #1e293b;
  --primary-900: #0f172a;
  --primary-950: #020617;

  --secondary-300: #7dd3fc;
  --secondary-400: #38bdf8;
  --secondary-500: #0ea5e9;
  --secondary-600: #0284c7;
  --secondary-700: #0369a1;
  --secondary-800: #075985;
  --secondary-900: #0c4a6e;
  --secondary-950: #082f49;

  --pageMargin: clamp(16px, calc(40vw / 7.68), 40px);
}

// ------------- Global Rest -------------------

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

// --------- Global Styles -------------

body {
  min-width: 320px;
  background: var(--primary-100);
  color: var(--primary-800);
  font-size: clamp(1rem, calc(18vw / 7.68), calc(18rem / 16));
  line-height: 152%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main,
.max-width {
  max-width: 1200px;
  width: calc(100% - var(--pageMargin) * 2);
  margin: 0 auto;
  height: 100%;
}

main {
  flex-grow: 1;
  margin: clamp(32px, calc(42vw / 7.68), 42px) auto
    clamp(80px, calc(92vw / 7.68), 124px);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  overflow-wrap: anywhere;
  font-weight: 400;
  line-height: 142%;
  color: var(--primary-800);
  strong {
    font-weight: 700;
    color: var(--primary-700);
  }
}
h1,
.h1,
h2,
.h2 {
  font-size: clamp(calc(24rem / 16), calc(36vw / 7.68), calc(36rem / 16));
  color: var(--primary-800);
  strong {
    color: var(--primary-700);
  }
}

a {
  transition: color 0.2s ease-in-out;
  font-weight: 500;
  &:hover,
  &:focus-visible {
    color: var(--secondary-600);
  }
}
