.section {
  padding-bottom: clamp(48px, calc(80vw / 7.68), 120px);
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  align-items: stretch;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}
