.header {
  background-color: var(--primary-100);
  position: sticky;
  top: 0;
  z-index: 9;
  border-bottom: 1px solid var(--primary-200);
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: clamp(14px, calc(18vw / 7.68), 18px);
}

.image {
  position: relative;
  aspect-ratio: 1/1;
  width: clamp(62px, calc(68vw / 7.68), 80px);
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.title {
  font-size: clamp(calc(18rem / 16), calc(20vw / 7.68), calc(24rem / 16));
  font-weight: 500;

  @media (max-width: 480px) {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
